<div class="projects">
  <div class="row row-cols-1 row-cols-md-3">
    {% assign selected_projects = site.projects | where: "selected", true | sort: "importance" %}
    {% for project in selected_projects %}
      {% include projects.liquid %}
    {% endfor %}
  </div>
</div>